<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter Assignment
    </button>
  </a>

  <h3>Liste des devoirs</h3>

  <mat-list *ngFor="let a of assignments">
    <mat-divider></mat-divider>

    <h3 mat-subheader>{{a.dateDeRendu | date: 'dd/MM/yyyy'}}</h3>
    <nav>
      <a routerLink="/assignments/{{a.id}}">
        <mat-list-item>
          <p *ngIf="a.rendu; else nonrendu" appRendu>
            Le devoir {{a.nom}} est à rendre le :
            {{a.dateDeRendu | date}}.
          </p>

          <ng-template #nonrendu>
            <p appNonrendu>Le devoir {{a.nom}} n'a pas été rendu !</p>
          </ng-template>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>


</main>
